<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8CIOOiBdTChF1lw_2y_w7Edph_eSzObc</string>
	<key>GCM_SENDER_ID</key>
	<string>259023311738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ps4-movil</string>
	<key>PROJECT_ID</key>
	<string>ps4-movil</string>
	<key>STORAGE_BUCKET</key>
	<string>ps4-movil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259023311738:ios:edfb8d1d720b28087bfcc3</string>
</dict>
</plist>